html {
    background: linear-gradient( to bottom, #113076, #115692);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%
    
}

.text{
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.header{
    text-align: center;
}
.data{
    margin-left: 25vw
}